@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563EB;
  /* Blue 600 - main buttons/links */
  --color-secondary: #3B82F6;
  /* Blue 500 - secondary highlights */
  --color-accent: #1D4ED8;
  /* Blue 700 - for important buttons/alerts */
  --color-accent-content: #302e2e;
  --color-info-content: #302e2e;
  /* White text on accent */
  --color-neutral: #1E293B;
  /* Dark blue-gray for text/neutral elements */
  --color-neutral-content: #1E293B;
  --color-success: #22C55E;
  /* Green for success messages */
  --color-warning: #FACC15;
  /* Yellow/amber for warnings */
  --color-error: #EF4444;
  /* Red for errors */
  --color-base-200: #D0E2FF;
  /* Slightly darker for cards/sections        */
  --color-base-300: #A9CBFF;
  /* For section backgrounds or subtle accents */
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #2563EB;
  /* Blue 600 - main buttons/links */
  --color-secondary: #3B82F6;
  /* Blue 500 - secondary highlights */
  --color-accent: #1D4ED8;
  /* Blue 700 - for important buttons/alerts */
  --color-accent-content: white;
   --color-info-content: #302e2e;
  /* White text on accent */
  --color-neutral: white;
  --color-neutral-content: #1E293B;
  /* Dark blue-gray for text/neutral elements */
  --color-success: #22C55E;
  /* Green for success messages */
  --color-warning: #FACC15;
  /* Yellow/amber for warnings */
  --color-error: #EF4444;
  /* Red for errors */
  --color-base-200: #D0E2FF;
  /* Slightly darker for cards/sections        */
  --color-base-300: #A9CBFF;
  /* For section backgrounds or subtle accents */
}

/* --color-base-100: #EAF2FF;         Light blue background 
    */

/* common */
h1{
  @apply font-extrabold text-3xl md:text-5xl text-neutral
}
h2{
  @apply font-bold text-2xl md:text-3xl 
}
/* for element */
nav a li {
  @apply font-semibold transition-colors duration-200 text-accent-content;
}

nav a.active li {
  @apply text-primary font-medium
}

nav a li:hover {
  @apply text-primary font-medium text-shadow-xs text-shadow-[#D0E2FF]
}

footer nav a {
  text-decoration: none;
}

footer nav a:hover {
  color: #b9b9b9;
}

.footer-header {
  @apply font-bold text-xl text-gray-400
}

.brand-name {
  @apply whitespace-normal sm:whitespace-nowrap
}


/* 
background: linear-gradient(90deg, #7B61FF 0%, #9A7FFF 100%);
background: linear-gradient(135deg, #6D4AFF 0%, #8F6FFF 100%); */
/* <div class="w-16 h-16 bg-gradient-to-r from-[#ff00cc] to-[#3333ff] 
            mask-[url('/src/assets/logo.svg')] mask-no-repeat mask-center mask-contain">
</div> */


/* buttons */
.general-btn{
  @apply btn rounded-md bg-primary text-white text-base font-semibold transform transition-transform duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-accent
}

.btn2 {
  @apply px-4 py-1.5 border-2 border-primary text-primary bg-white rounded-md font-bold text-base hover:bg-accent hover:text-white transition-colors duration-300 w-full whitespace-nowrap
}

.scale {
  @apply transition-transform duration-300 ease-in-out hover:-translate-y-1 hover:scale-110
}